.box {
  margin: .5rem;
  _margin-top: 3rem;
  float: left;
  border-style: solid;
  border-width: 1px;
  padding: .5rem;
}


.box_0 {
  float: initial;
  width: 10rem;
  margin: auto;
}