.form[disabled] {
    opacity: .7;
    pointer-events: none;
}

[error] {
    box-shadow: rgba(255, 0, 0, 0.5) 0px 0.1rem 0.4rem -0.075rem;
}

[warning] {
    box-shadow: rgba(220, 220, 0, 1) 0px 0.1rem 0.9rem -0.075rem;
}